*{
	margin:0;
	padding:0;
}
.logo{
	width:60px;
	height:40px;
}
header{
	width:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;

	
}
label{
	font-size:30px;
	
}
.div{
	padding:10px 10px 10px 30px;
	width:100px;
	display:flex;
	justify-content:space-between;
}
.divyou{
	display:flex;
	align-items:flex-end;

}
.divtest{
	display:flex;
	justify-content:space-between;
}
.divleg{
	position:relative;
}
.divleg2{
position:relative;
}
.pvideos2{
	position:absolute;
	font-size:15px;
	top:214px;
	left:50px
}
.divleg3{
position:relative;
}
.pvideos3{
	width:200px;
	position:absolute;
	font-size:15px;
	top:214px;
	left:50px
}
.divleg4{
	position:relative;
}
.pvideos4{
	position:absolute;
	font-size:15px;
	top:214px;
	left:40px
}
.divleg5{
	position:relative;
}
.pvideos5{
	width:150px;
	position:absolute;
	font-size:15px;
	top:550px;
	left:650px;
}
.divileg6{
position:relative;

}
.pvideos6{
	width:150px;
	position:absolute;
	font-size:15px;
	top:550px;
	left:960px;

}

.p{
	font-size:15px;
	position:absolute;
	top:214px;
	left:50px
}
.lup{
	width:40px;
	height:10px;
}
.divlup{
	display:flex;
	padding:0 30px 0 0;
}
.section{
	width:100%;
	display:flex;
	background:#F5F5F5;
	justify-content:space-around;
/*	align-items:center;
*/}
.divtable{
	display:flex;
	padding:0 89px 18px ;
	flex-direction:column;
}
ul{
	padding:18px;
	font-size:14px;

}
img{
	width:29px;
	height:29px;
	padding:10px;
	
}
.divimage{
	display:flex;
	padding:0 19px 0 31px;
	position:absolute;
/*	background:#F5F5F5;*/
	flex-direction:column;
}
.divtable2{
	padding-left:90px;
	padding-bottom:30px;

}
.divsection{
padding: 28px 0 0 0;

}
.divimage2{
	display:flex;
	padding:0 19px 0 31px;
	position:absolute;
	background:#F5F5F5;
	flex-direction:column;
}
.img{
	width:29px;
	height:29px;
	padding:12px;
}
iframe{
	width:200px;
	height:150px;
	padding:50px;
    }
.principal{
	width:24%;
	/*margin-right:120px;*/
	background:#F5F5F5;

}
.divideos{
	width:100%;
	display:flex;
	background:white;
	flex-wrap: wrap;
	/*justify-content:space-around;;*/
	/*padding-bottom:335px;
	padding-right:335px;*/
/*	background:red;*/
}
./*divleg{
	width:250px;
	height:250px;
	display:flex;*/
	/*flex-direction:column;*/
	/*background:green;*/
}